@font-face {
  font-family: "Merienda";
  src: url("./assets/fonts/Merienda-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Merienda";
  src: url("./assets/fonts/Merienda-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
